amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
cheroot==5.5.0
CherryPy==10.2.2
hawkular-client==0.5.3
kombu==4.0.2
portend==1.8
pytz==2017.2
PyYAML==3.12
redis==2.10.5
six==1.10.0
SQLAlchemy==1.1.10
tempora==1.7
vine==1.1.3
